*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
    min-height: 100vh;
    min-width: 100vh;
    display:flex;
    justify-content: space-around;
    scroll-behavior: smooth;
}

/** Header **/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tab{
    margin-top: 20px;
    top:0;
    left:0;
    position : fixed;
    display :flex;
    justify-content: space-between;
    color : #fff;
    width: 100%;
}

.name a{
    text-decoration: none;
    color: white;
}
.name{
    color: white;
    display: flex;
    align-items: center;
    font-size:20px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.065em;
    width:auto;
    padding-left: 30px;
}
.tablogos{
    padding-right: 30px;
    display: flex;
    gap: 10%;
    flex-direction: row-reverse;
}

/** Main **/

main{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

/** Section **/

.section{
    height: 100vh;
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 13%;
}

.text{
    display: flex;
    flex-direction: column;
    gap :10%;
    margin-left: 20px;

}

.stuff{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25%;

}

img #image{
    display: block;

}

h2{
    color:white;
    font-family: "Roboto Slab", serif;
    font-size: 3em;
}

.title{
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
    color:white;
    font-family: "Roboto Thin", serif;
    font-size: 4em;
}

.decoLines{
    display: flex;
    flex-direction: column;
    height: 30px;
    gap: 15px;
}
.decoLines span{
    display:inline-block;
    background: darkslateblue;
    height:5px;
    width: 100px;
    border-radius: 10px;
}

.decoLines .secondSpan{
    margin-left: 50px;
}
/** MENU **/

#fp-nav{
    display: flex;
    position: fixed;
    width: auto;
    left: 10px;
    top: 50%;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}

#fp-nav li a span{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 5px;
    border-radius: 2px;
    transition: 0.3s;
}

#fp-nav li a.active span{
    width: 80px;
}

#fp-nav li a{
    text-decoration: none;
}

#fp-nav .fp-sr-only{
    display: none;
}

a :hover{
    opacity: 0.5;
}

/** Animation **/

.hidden{
    visibility: hidden;
}

.fp-section{
    visibility: hidden;
    transition: linear 2s;
}

.fp-section.active{
    visibility: visible;
}