*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("images/cool-background.png");
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    display:flex;
    justify-content: space-around;
    scroll-behavior: smooth;
}

.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: palegoldenrod;
    z-index: 1001;
}
        /** HEADER **/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header a{
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}

.tab{
    margin-top: 20px;
    top:0;
    left:0;
    position : fixed;
    display :flex;
    justify-content: space-between;
    color : #fff;
    width: 100%;
    z-index: 5;
}

.name a{
    text-decoration: none;
    color: white;
}

.name{
    display: flex;
    align-items: center;
    font-size:1.6em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.050em;
    width:auto;
    padding-left: 30px;
    z-index: 1000;
}

.tablogos{
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 10%;
    flex-direction: row-reverse;
}

    /** MAIN **/

main{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

    /** SECTION **/

.section{
    height: 100vh;
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 13%;
}

.text{
    display: flex;
    flex-direction: column;
    gap :10%;
    margin-left: 20px;
    z-index: 4;
    height: 50%;
    width: 50%;
}

.stuff{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 25%;
    height : 500px;
    z-index: 4;
}

.title{
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    color:white;
    font-family: "Montserrat", serif;
    font-size: 4.9em;
}

.decoLines{
    display: flex;
    flex-direction: column;
    height: 30px;
    gap: 15px;
}
.decoLines span{
    display:inline-block;
    background: #FFA500;
    height:5px;
    width: 100px;
    border-radius: 10px;
}

.decoLines .secondSpan{
    margin-left: 50px;
}

h2{
    letter-spacing: 0.1em;
    color:white;
    font-family: "Roboto Slab", serif;
    font-size: 2em;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
}

    /** MENU **/

#fp-nav{
    display: flex;
    position: fixed;
    width: auto;
    left: 10px;
    top: 50%;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
}

#fp-nav li a span{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    transition: 0.3s;
}


#fp-nav li a.active span{
    width: 80px;
}

#fp-nav li a{
    text-decoration: none;
}
#fp-nav li::marker{
    opacity: 0;
}

#fp-nav .fp-sr-only{
    display: none;
}

    /** BUTTON **/

button{
    color: black;
    background-color: #ffdfd0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    height: 50px;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    transition: .1s ease-in-out 0s;
    border : none;
    cursor: pointer;
    z-index: 4;
}

button a{
    text-decoration: none;
    color: black;
}
        /** HOME **/

.portfolio{
    color: #FFA500;
    font-size: 4em;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
}

.scrollDown{
    position: fixed;
    left:20px;
    bottom:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollDown p{
    left:20px;
    bottom:20px;
    font-family: Montserrat, serif;
    color: white;
    writing-mode: vertical-lr;
    font-size: 0.8rem;
    letter-spacing: 0.2em;
}

    /** ABOUT ME PAGE **/

.aboutAlex{
    position: absolute;
    overflow: hidden;
    z-index: 0;
    margin-left: 30%;
    height: 70%;
    box-shadow: 10px 10px 35px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 35px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px 0 rgba(0,0,0,0.75);
}

.aboutBtn {
    position: relative;
    top: 34%;
    right:40%;
}

    /** WHY PAGE **/
.stuff.links{
    margin-right: 30%;
    margin-top: 20%;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap :10%;
    height : 200px;
}

.links h3{
    font-size: 1.7em;
    font-family: 'Montserrat', serif;
    color: white;
}

    /** CONTACT PAGE **/

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap :15%;
}

.section .container{
    margin-right: 25%;
}
    /** ANIMATION **/

a :hover{
    opacity: 0.5;
}

button:hover{
  transform: scale(1.2);
}

.tablogos a{
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}

.reveal{
    opacity: 0;
    transform: translateY(-30);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5,0,0,1);
}

.pulse {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 233, 208, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 233, 208, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 233, 208, 0);
    }
}

    /** SECOND PAGE **/

        /** GENERAL **/
.sp main{
    height: 100%;
    overflow-x: hidden;
}

header.black a{
    color: #020b16;
}

#arrow{
    position: fixed;
    top: 15%;
    left: 5%;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
}

#arrow:hover {
    transform: translateX(-10px);
}
footer{
     height: 100px;
     background-color: white;
 }
        /** FIRST **/

.sp .aboutMe{
    background-image: url("images/cool-background.png");
    background-size: cover;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13%;

}

        /** SECOND : ME **/
.secondPage{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxMe{
    margin: 20% 15% 3% 15%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.boxMe h2{
    color: #202023;
    font-size: 2.5em;
    text-shadow: none;
    line-height: 1;
}

.me{
    width: 50%;
}
.meText
{
    margin-top: 5%;
    font-family: Montserrat, serif;
    color: #858f99;
    text-align: justify;
}

        /** THIRD : PASSION & SKILLS **/

.boxPassionSkills{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 20%;

}

.passion, .skills{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    width: 100%;
}

.sport, .travel, .hard, .soft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: 30%;
}
.image{
    align-items: baseline;
}
.boxPassionSkills h3{
    margin-top: 5%;
    color: darkorange;
    font-family: "Roboto Slab", serif;
    font-size: 3.2rem;
}

.boxPassionSkills p{
    text-align: justify;
    margin-top: 5%;
    color: #858f99;
    font-family: Montserrat, serif;
    font-size: 1em;
}

        /** Card **/

.container{
    height :430px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.containerCard  {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ffdfd0;
    border-radius: 50%;
    overflow: hidden;
    transition: ease-in-out 0.7s;
}

.containerCard:hover  {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding : 10px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.containerCard .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition:opacity 1s;
}

.containerCard:hover .card{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition:opacity 1s;
}
.containerCard .imgBox img{
    height: 200px;
    width: auto;
}

.containerCard:hover .imgBox img{
    height: 200px;
    width: auto;
}

.containerCard .contentBox{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
    transition:opacity 1s;
}

.containerCard:hover .contentBox{
    opacity: 1;
}

.containerCard .contentBox h2, .containerCard .contentBox h3{
    font-family: Montserrat, serif;
    color: #0D0D0C;
}
.containerCard .contentBox h2{
    font-size: 1.8em;
}
.containerCard .contentBox .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.containerCard .contentBox .contacts a{
    text-decoration: none;
    color: black;
    letter-spacing: 0;
    font-size: 1.2em;
    font-family: Montserrat, serif;
}

@media only screen and (max-height: 450px) and  (orientation: landscape) {
    body{
        height: auto;
        width: auto;
        min-width: 0;

    }
    .loader{
        display: none;
        visibility: hidden;
    }

    .name{
        width : 70px;
        font-size: 1.1em;
        padding-left: 15px;
    }
    .tablogos{
        padding-right: 15px;
    }
    .tablogos a img{
        height: 40px;
        width: auto;
    }
    .fp-responsive .fp-section,
    .fp-responsive .fp-slide,
    .fp-responsive .fp-tableCell{
        height: auto !important;
        width: auto;
    }
    .text{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap :10%;
        z-index: 4;

    }
    #image{
        display: none;
    }

    .stuff{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height : auto;
        z-index: 4;
    }

    .title{
        text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
        color:white;
        font-family: "Montserrat", serif;
        font-size: 2.7em;
    }

    h2{
        letter-spacing: 0.1em;
        color:white;
        font-family: "Roboto Slab", serif;
        font-size: 2em;
        text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    }
    .scrollDown{
        display: none;
    }
    .aboutBtn{
        top:10%;
        left:17%
    }
    .w{
        margin-bottom: 20%;
    }
    .links{
        height: 200px;
    }
    .stuff.links{
       margin:0;
    }

}

@media only screen and (max-width: 450px) and (orientation: portrait) {
   body{
       height: auto;
       width: auto;
       min-width: 0;

   }
    .loader{
        display: none;
        visibility: hidden;
    }

    .name{
        width : 70px;
        font-size: 1.1em;
        padding-left: 15px;
    }
    .tablogos{
        padding-right: 15px;
    }
    .tablogos a img{
        height: 40px;
        width: auto;
    }

    #fp-nav{
        display: flex;
        justify-items: start;
        position: fixed;
        width: auto;
        bottom:10px;
        top: auto;
        left: 35%;


    }

    #fp-nav ul{
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap:40px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    #fp-nav li a span{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 3px;
        height: 20px;
        border-radius: 2px;
        transition: 0.3s;
    }

    #fp-nav li a.active span{
        height: 40px;
        width: 3px;
    }
    .fp-responsive .fp-section,
    .fp-responsive .fp-slide,
    .fp-responsive .fp-tableCell{
        height: auto !important;
        width: auto;
    }

    .section{
        padding-top: 30%;
        margin-left: 0;
        width: border-box;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding-bottom: 30%;
    }
    .text{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap :10%;
        z-index: 4;

    }
    #image{
        display: none;
    }

    .stuff{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height : auto;
        z-index: 4;
    }

    .title{
        text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
        color:white;
        font-family: "Montserrat", serif;
        font-size: 2.7em;
    }

    h2{
        letter-spacing: 0.1em;
        color:white;
        font-family: "Roboto Slab", serif;
        font-size: 2em;
        text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    }

    .aboutAlex{
        margin-left: 0;
        height :auto;
        width:300px;
        right:5%;
        top: 135%;
    }
    .aboutBtn{
        margin-right: 0;
        left:15%;
        right:0
    }
    .links{
        height: 200px;
    }
    .container{
        margin-left: 10%;
        margin-top: 5%;
    }

    .sp .aboutMe{
        padding-left: 0;
    }
    .aboutMe .aboutAlex{
        top: 30%;
    }

    .secondPage{
        margin: 0;
      padding: 30% 5% 15% 5%;
    }
    .boxMe{
        margin: 0;
        text-align: center;
    }
    .me{
        width: 80%;
    }
    .passion, .skills{
        display: contents;
    }
    .sport, .travel, .hard, .soft{
        margin-top: 20%;
        width: 100%;
    }
}